@*@page "/"

    <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

@page "/"
@inject NavigationManager NavManager

@code{
    protected  override void OnInitialized()
    {
        NavManager.NavigateTo("/spectrum/list");


    }
}
