@page "/spectrum/list"

@using My.Share.Models
@inject HttpClient Client

<h1>List</h1>

<p class="text-right">
    <a class="btn btn-primary" href="/spectrum/add">Add</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>

    </tr>
    @if (_stutdents != null)
    {
        foreach (var item in _stutdents)
        {
<tr>
    <td>@item.ID</td>
    <td>@item.Name</td>
    <td>
        <a class="btn btn-primary" href="/spectrum/Find/@item.ID">查看</a>
        <a class="btn btn-danger" href="/spectrum/delete/@item.ID">删除</a>
    </td>
</tr>
        }
    }

</table>

@code {
    private IEnumerable<Device> _stutdents;
    protected async override Task OnInitializedAsync()
    {
        try
        {
            _stutdents = await Client.GetFromJsonAsync<IEnumerable<Device>>("/api/Devices");
        }
        catch (Exception ex) { Console.WriteLine("Herehere"+Environment.NewLine+ ex.Message); }
    }

}